main {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 0 10px;
    background-color: #888;
    border-radius: 0.3em;
    height: 45vh;
    width: 20vw;

    p {
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 18px;
    }

    button {
      height: 2rem;
      width: 8rem;
    }
  }
}
